type dhcp, domain;
type dhcp_exec, system_file_type, exec_type, file_type;

net_domain(dhcp)

allow dhcp cgroup:dir { create write add_name };
allow dhcp cgroup_v2:dir { create write add_name };
allow dhcp self:global_capability_class_set { setgid setuid net_admin net_raw net_bind_service };

allow dhcp proc_net_type:file write;

allow dhcp dhcp_data_file:dir create_dir_perms;
allow dhcp dhcp_data_file:file create_file_perms;

  
